In [1]:
my_jobs=2

In [3]:
my_jobs=('Waldron, Eaton')

In [5]:
a=5

In [1]:
a=10

In [2]:
a*a

100

In [3]:
a=a+a

In [4]:
a

20

In [5]:
type(a)

int

In [6]:
a=30.1

In [7]:
type(a)

float

In [14]:
my_old_income = 50
my_new_income = 40
my_pay_cut = my_old_income - my_new_income

my_pay_cut

In [15]:
my_pay_cut

10