In [1]:
#numbers: do not need quotes, can be either float or integersGOOD
#strings: ordered sequence of charactersrequire quotes, use double quotes if you are including a contraciton
#lists: are mutable
#tuples: are immutable
#dictionaries; use brackets: KEY VALUE pairings

In [2]:
4+3

7

In [3]:
8**2

64

In [4]:
(8**2)+(9*4)+(1/4)-0.25+(2/8)

100.25

In [5]:
#44, 29, 34

In [6]:
4*(6+5)

44

In [7]:
4*6+5

29

In [8]:
4+6*5

34

In [9]:
#type of result is a float? GOOD

In [10]:
# square root?

In [11]:
x=100

In [93]:
100**.5

10.0

In [94]:
# USE THE TRADITIONAL FUNCTION WITH EXPONENTS

In [16]:
math.sqrt(x)

10.0

In [18]:
math.pow(2,6)

64.0

In [19]:
#String portion

In [20]:
s = 'hello'

In [21]:
s

'hello'

In [22]:
print(s)

hello

In [95]:
print(s[1])

e

In [25]:
print(s[::-1])

olleh

In [26]:
#two methods of printing out 1 letter

In [27]:
print(s[-1])

o

In [98]:
#method 2? USE THE DIFFERENT INDEXING #
print(s[4])

o

In [40]:
#list portion: build, reassign, sort

In [31]:
my_list = [1,2,3]

In [99]:
my_list
[0]*3

[0, 0, 0]

In [33]:
portion_1_list = [1]

In [35]:
portion_2_list=[2,3]

In [38]:
my_additive_list = portion_1_list + portion_2_list

In [39]:
my_additive_list

[1, 2, 3]

In [101]:
reassign_list= [1,2,[3,4,'hello']]

In [103]:
reassign_list[2][2]='goodbye'

In [104]:
reassign_list

[1, 2, [3, 4, 'goodbye']]

In [50]:
list_1 = [5,3,4,6,1]

In [106]:
sorted(list_1) #use sorted function

[1, 3, 4, 5, 6]

In [55]:
list_1.sort()

In [56]:
list_1

[1, 3, 4, 5, 6]

In [58]:
#needed help on list sort; remember most. functions need the open close parentheses

In [59]:
d = {'simple_key': 'hello'}

In [60]:
d

{'simple_key': 'hello'}

In [61]:
#dictionaries need work

In [63]:
d['simple_key']

'hello'

In [69]:
d={'k1':{'k2':'hello'}}

In [70]:
d

{'k1': {'k2': 'hello'}}

In [71]:
d['k1']

{'k2': 'hello'}

In [72]:
d['k1']['k2']

'hello'

In [75]:
d={'k1':[{'nest_key':['this is deep', ['hello']]}]}

In [79]:
#???? got this one wrong & the harder one too

In [80]:
#you cannot sort a dictionary because it is immutable: dictionaries are mapping, not a sequence

In [81]:
#tuples: tuples and lists are different because tuples are immutale and require a unique string in each line

In [86]:
t=(1,2,3)

In [87]:
#the above is how you create a tuple

In [88]:
#sets: sets are unique because they can only have one representative per each number

In [89]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [90]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [91]:
#forgot about set

In [109]:
my_section = [1,2,3,[4,5,3]]

In [110]:
my_section[3][0]

4

In [112]:
my_section[3][0]='seven'

my_section[3][0]

In [113]:
my_section[3][0]

'seven'

In [120]:
my_list = ['givenchy', 'smells','amazing']

In [121]:
my_list

['givenchy', 'smells', 'amazing']

In [122]:
my_list[0]

'givenchy'

In [125]:
my_list[0] = 'tom ford'

In [1]:
new_list = [1,2,46,4253,452345,1991811,99918]

In [3]:
new_list.sort()

In [4]:
new_list

[1, 2, 46, 4253, 99918, 452345, 1991811]

In [7]:
print("I'm going to wear %s tonight." %'Givenchy')

I'm going to wear Givenchy tonight.

In [10]:
print("I am going to wear %s tonight and %s tomorrow." %('Givenchy', 'Polo Double Black'))

I am going to wear Givenchy tonight and Polo Double Black tomorrow.

In [11]:
# only use 1 % to use do string formatting

In [13]:
print("On Monday, I will be wearing %s, and on Tuesday I will be wearing %s" %('Polo Double Black', 'Givenchy'))

On Monday, I will be wearing Polo Double Black, and on Tuesday I will be wearing Givenchy

In [15]:
print("if the stock hits 70, %s; other wise %s" %('Buy', 'sell'))

if the stock hits 70, Buy; other wise sell

In [17]:
print("if the weather hits 80, wear %s; otherwise wear %s" %('shorts', 'pants'))

if the weather hits 80, wear shorts; otherwise wear pants

In [18]:
a,b = 'Givenchy', 'Polo Double Black'

In [20]:
print("if the weather hits 80, wear %s; otherwise wear %s" %(a,b))

if the weather hits 80, wear Givenchy; otherwise wear Polo Double Black

In [21]:
u,i = 'shorts', 'pants'

In [22]:
print("if it is snowing outside, wear %s; otherwise wear %s" %(u,i))

if it is snowing outside, wear shorts; otherwise wear pants

In [1]:
s = 'goodbye'

In [3]:
print (s)

goodbye

In [5]:
print (s[0])

g

In [6]:
print (s[::-1])

eybdoog

In [7]:
list3 = [1,2,[3,4,'hello']]

In [8]:
list3

[1, 2, [3, 4, 'hello']]

In [12]:
list3[2][2] = 'goodbye'

In [13]:
list3[2][2]

'goodbye'

In [14]:
list4 = [3,1,5,1,5,45,2234421,]

In [15]:
list4.sort ()

In [16]:
list4

[1, 1, 3, 5, 5, 45, 2234421]

In [18]:
set(list4)

{1, 3, 5, 45, 2234421}

In [19]:
d = {'best_beer': 'Bud Light'}

In [20]:
d

{'best_beer': 'Bud Light'}

In [26]:
d ['best_beer']

'Bud Light'

In [32]:
d = {'best_beer': {'worst_beer': 'Coors Light'}}

In [33]:
d

{'best_beer': {'worst_beer': 'Coors Light'}}

In [34]:
d ['best_beer'] ['worst_beer']

'Coors Light'